*                 {margin:0;
                   padding:0;
                   font-family:"Courier New","Lucida Console",courier,monospace;
		   font-size:13;
		  }

body              {
                  background:url('../wood_1.png');
		  width:75%;
		  }

.button           {border-style:solid;
                   border-radius:3px;
		   font-size:20px;
		  }
/* begin css tabs. credit Joshua Kaufman of unraveled.com */

ul#tabnav         { /* general settings */
                   text-align: left; /* set to left, right or center */
		   margin: 0 0; /* set margins as desired */
		   list-style-type: none;
		   padding: 3px 10px 0px 10px; /* THIRD number must change with respect to padding-top (X) below */
                   }

ul#tabnav li       { /* do not change */
                   display: inline;
                   }

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4
                   { /* settings for selected tab */
                   /*border-bottom: 1px solid #fff; /* set border color to page background color */
		   background-color: #fff; /* set background color to match above border color */
                   }

body#tab1 li.tab1 button, body#tab2 li.tab2 button, body#tab3 li.tab3 button, body#tab4 li.tab4 button
                   { /* settings for selected tab link */
		   background-color: #fff; /* set selected tab background color as desired */
		   color: #000; /* set selected tab link color as desired */
		   position: relative;
		   top: 1px;
		   padding-top: 4px; /* must change with respect to padding (X) above and below */
                   }

ul#tabnav li button { /* settings for all tab links */
                   padding: 5px 8px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
		   border-top: 1px solid black; /* set border COLOR as desired; usually matches border color specified in #tabnav */
		   border-right:1px solid black;
		   border-left:1px solid black;
		   border-bottom:0px;
		   border-top-right-radius:4px;
		   border-top-left-radius:4px;
		   background-image:url('../bedge_grunge.png');
		   color: black; /* set unselected tab color as desired */
		   margin-right: 0px; /* set additional spacing between tabs as desired */
		   text-decoration: none;
		   border-bottom: none;
		   font-size: 20px;
                   }

ul#tabnav form button:hover  { /* settings for hover effect */
                    background: #a74d4d; /* set desired hover color */
                   }

/* end css tabs. credit Joshua Kaufman of unraveled.com */

form               {
                    display: inline;
                   }

div#content        {
                   background-image:url('../bedge_grunge.png');
		   border-style:none;
		   border-radius:8px;
                   }

#input             {
                   margin:0px;
		   width:100%
                   }

.awaitinggame      {
		   padding:4px;
                   }

.awaitinggame gamename{
                   width:500px
                   }

table, th, td      {
                   border-collapse:collapse;
		   border:1px solid;
		   text-align:center;
		   vertical-align:middle;
		   }

td                 {
                   padding: 4px 15px;
                   }

[name='submitjoin']{
                   color:#ffffff;
		   padding:3px 5px;
                   background:#333333;
		   box-shadow:0px 2px 4px black;
                   }

[name='Password'] {
                  padding:4px;
                  }