{% extends "base.html" %}
{% block title %}Assassin{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block tabs %}{{super()}}{% endblock %}
{% block body %}
<center>
  <h2>Assassin</h2>
  <div class="text">
    <p>Welcome, agent, to the Assassin Initiative.</p>
    <p><strong>Your mission:</strong><br>
      Track down and assassinate your targets, one by one.</p>
    <br>
    <br>
    <p><strong>Your instructions:</strong><br>
      <ul>
	<li>Follow your target by requesting their direction from the <em>Position Of Our People System</em>.</li>
	<li>Watch out: every time you check in, your pursuer gets a ping of your location. That's right: <strong>you're bring pursued too.</strong> Did Command forget to mention that?</li>
	<li>Remember to look up from your screen, agent. You're going to have to get right up close to your target to take them out, within fifty meters. That's 55 yards to our American agents.</li>
	<li>Once you're in range, hit the "Assassinate" button, dropping a beacon that'll call in a few henchmen to finish the job. You're too valuable to Command to waste on dirty work.</li>
	<li>Don't waste our time with useless call-ins, agent. If you call in a kill when you're out of range, you'll get no information at all for ten minutes.</li>
      </ul>
    </p>
  </div>
</center>
{% endblock %}
