
{% extends "base.html" %}

{% block head %}
{{ super() }}
{% block tabs %}{{super()}}{% endblock %}
{% block title %}Assassin{% endblock %}
{% endblock %}
{% block body %}
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 75%; width:50%;}
  </style>
<body>
    <div id="field" style="width:75%; height:50%"></div>
  </body>
  <script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCkAobHK_oI7cOW4qdc1iUCVFSl20Ev3k&sensor=false">
  </script>
  <script src="/static/js/googlemaps.js"></script>
  <br>
  <button name="checkin">Check-In</button>
  <button name="kill">Assissinate</button>
  <ul>
    {% for player in players %}
    <li> {{player}} </li>
    {% endfor %}
  </ul>
<body onload="initialize()">
  <div id="map_canvas"></div>
</body>
{% endblock %}
