
{% extends "base.html" %}
{% block title %}Assassin{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block tabs %}{{super()}}{% endblock %}
{% block body %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<div id="background">
    <div id="field"></div>
    <script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCkAobHK_oI7cOW4qdc1iUCVFSl20Ev3k&sensor=false">
    </script>
    <script src="/static/js/googlemaps.js"></script>
  <br>
  <form action="" method="POST">
  <button name="checkin">Check-In</button>
  </form>
  <form action="" method="POST">
  <button name="kill">Assassinate</button>
  </form>
  {% if creator %}
  {% if started %}
  <form action="" method="POST">
    <button name="startgame" disabled>Start Game</button>
  </form>
  {% else %}
  <form action="" method="POST">
  <button name="startgame">Start Game</button>
  </form>
  {% endif %}
  {% endif %}
  
  <ul>
    {% for player in players %}
    <li> {{player}} </li>
    {% endfor %}
  </ul>
</div>
</body>
{% endblock %}
