
{% extends "base.html" %}
{% block title %}Assassin{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block tabs %}{{super()}}{% endblock %}
{% block body %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%;
           margin: 0 0 0 1.5em;
           padding: 0;}
  </style>
<body>
  <div class="wrapper"></div>
    <div id="field" style=" width:75%; height:75%; display: block; margin-left: auto; margin-right: auto;"></div>
    <script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCkAobHK_oI7cOW4qdc1iUCVFSl20Ev3k&sensor=false">
    </script>
    <script src="/static/js/googlemaps.js"></script>
    <div class="content">
      <br>
      <form action="" method="POST">
	<button class="button" id="check-in" name="checkin">Check In</button>
      </form>
      <form action="" method="POST">
	<button class="button" id="assassinate" name="kill">Assassinate</button>
      </form>
      {% if creator %}
      {% if started %}
      <form action="" method="POST">
	<button name="startgame" disabled>Start Game</button>
      </form>
      {% else %}
      <form action="" method="POST">
	<button class="button" id="start" name="startgame">Start Game</button>
      </form>
      {% endif %}
      {% endif %}
      <br><br>
      <strong>Players:</strong>
      <ul class="circle">
	{% for player in players %}
	<li> {{player}} </li>
	{% endfor %}
      </ul>
    </div>
</body>
{% endblock %}
