{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block tabs %}{{super()}}{% endblock %}
{% block body %}
  <div id="input">
    <table class="gamesnav" border="1">
      <tr>
	<th>Game</th>
	<th>Creator</th>	
	<th>Public/Private</th>
	<th>Number of Players</th>
      </tr>
     
	{% for game in games %}
	<form action="" method="POST">
	<tr class="awaitinggame">
	  <td class="gamename">{{game[0]}}</td>
	  <td class="gameauthor">{{game[1]}}</td>
	  <td class="gametype">{{game[2]}}</td>
	  <td class="gamemembers">{{game[3]}}</td>
	  <td><input type="password" name="Password" class="" placeholder="Type your password"></td>
	  <td><input type="submit" name="submitjoin" value="Join" class=""><br><br></td>
	</tr>
	<input type="hidden" name="Gamename" value={{game[0]}}>
	</form>
	{% endfor %}
    </table>
    
  </div>
{% endblock %}
