{% extends "base.html" %}
{% block head %}
{{ super() }}
{% block title %}Login{% endblock %}
{% endblock %}

{% block body %}
<body>
{% block tabs %}{{super()}}{% endblock %}
  <div id="input">
    <form action="" method="POST">
      <input type="text" name="Username" class="" placeholder="Type your username"></textarea>
      <input type="password" name="Password" class="" placeholder="Type your password" ></textarea>
      <input type="submit" name="submitlogin" value="Login" class=""><br><br>
    </form>
  </div>
</body>
{% endblock %}
