{% extends "base.html" %}
{% block head %}
{{ super() }}
{% block title %}Create Account{% endblock %}
{% endblock %}

{% block body %}
<body>
{% block tabs %}{{super()}}{% endblock %}
<center>
<h1> Create your new Assassin Account </h1>
<form action="" method="POST">
<table>
  <tr>
		<td align = "right">Choose a username:</td>
		<td><input type="text" name="user" size="50"></td>
	</tr>
	<tr>
		<td align = "right">Choose a password:</td>
		<td><input type="password" name="pass1" size="50"></td>
	</tr>
	<tr>
		<td align = "right">Re-Enter password:</td>
		<td><input type="password" name="pass2" size="50"></td>
	</tr>
</table>

<input type="submit" name="submit" value="Submit">
<input type="submit" name="back" value="Back"
</center>
</form>
{% if taken %}
This username is already taken.
{% endif %}
{% if nouser %}
Please enter a username.
{% endif %}
{% if notmatching %}
Passwords do not match.
{% endif %}
{% if nopassword %}
Please enter a password.
{% endif %}
</body>
{% endblock %}
