{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block tabs %}{{super()}}{% endblock %}
{% block body %}
<div class="content">
  <center>
    <br><h2>Welcome aboard, agent.</h2><br>
    <form action="" method="POST">
      <table>
	<tr>
	  <td align="right">Choose a username:</td>
	  <td><input type="text" name="user" size="50"></td>
	</tr>
	<tr>
	  <td align="right">Choose a password:</td>
	  <td><input type="password" name="pass1" size="50"></td>
	</tr>
	<tr>
	  <td align="right">Re-Enter password:</td>
	  <td><input type="password" name="pass2" size="50"></td>
	</tr>
      </table>
      <br>
      <input class="button" type="submit" name="submit" value="Submit">
      <input class="button" type="submit" name="back" value="Back"><br>
      <br>
  </center>
  </form>
</div>
{% if taken %}
This username is already taken.
{% endif %}
{% if nouser %}
Please enter a username.
{% endif %}
{% if notmatching %}
Passwords do not match.
{% endif %}
{% if nopassword %}
Please enter a password.
{% endif %}
{% endblock %}
